{% extends 'base.html.twig' %}

{% block body %}

<form method="post">
  <div>
    <label for="systolic">Systolic Blood Pressure</label>
    <input type="number" name="systolic" required>
  </div>
  <div>
    <label for="diastolic">Diastolic Blood Pressure </label>
    <input type="number" name="diastolic" required>
  </div>
  <div>
    <label for="pulse">Pulse</label>
    <input type="number" name="pulse" required>
  </div>
  <div>
    <label for="comment">Comment</label>
    <input type="text" name="comment" required>
  </div>
  <div>
    <input type="submit" value="Add">
  </div>
</form>

<table>
    <thead>
        <tr>
            <td>Systolic</td>
            <td>Diastolic</td>
            <td>Pulse</td>
            <td>Comment</td>
        </tr>
    </thead>
    {% for bloodPressureObservation in bloodPressureObservations %}
        <tr>
            <td>{{ bloodPressureObservation.systolic }}</td>
            <td>{{ bloodPressureObservation.diastolic }}</td>
            <td>{{ bloodPressureObservation.pulse }}</td>
            <td>{{ bloodPressureObservation.comment }}</td>
        </tr>
    {% endfor %}
<table>

{% endblock %}
