{% extends 'base.html.twig' %}

{% block body %}



<table>
    <thead>
        <tr>
            <td>Systolic</td>
            <td>Diastolic</td>
            <td>Pulse</td>
            <td>Comment</td>
        </tr>
    </thead>
    {% for bloodPressureObservation in bloodPressureObservations %}
        <tr>
            <td>{{ bloodPressureObservation.systolic }}</td>
            <td>{{ bloodPressureObservation.diastolic }}</td>
            <td>{{ bloodPressureObservation.pulse }}</td>
            <td>{{ bloodPressureObservation.comment }}</td>
        </tr>
    {% endfor %}
<table>

{% endblock %}
